trigger:
  branches:
    include:
    - main
  paths:
    include:
    - tfcode/lothslair/*
    - workflow/lothslair/lothslair-iac-deployment.yml

extends:
  template: ../templates/pipeline/terraform.yaml
  parameters:
    environments:
      - name: dev
        workingDir: "$(System.DefaultWorkingDirectory)/tfcode/lothslair/"
        paramsDir: "$(System.DefaultWorkingDirectory)/tfcode/lothslair/params/"
        serviceConnectionName: 'sc-lothslair-terraform'
        tfStateRGName: 'rg-terraform'
        tfStateStorageAccountName: 'sttfdata13669'
        tfStateContainerName: 'tfstate'
        tfStateKeyName: 'dev'
      - name: prd
        workingDir: "$(System.DefaultWorkingDirectory)/tfcode/lothslair/"
        paramsDir: "$(System.DefaultWorkingDirectory)/tfcode/lothslair/params/"
        serviceConnectionName: 'sc-lothslair-terraform'
        tfStateRGName: 'rg-terraform'
        tfStateStorageAccountName: 'sttfdata13669'
        tfStateContainerName: 'tfstate'
        tfStateKeyName: 'prd'

