trigger:
  branches:
    include:
    - main
  paths:
    include:
    - tfcode/datalandingzone/terraform/*
    - workflow/datalandingzone-terraform-deployment.yml

extends:
  template: ./templates/pipeline/terraform.yaml
  parameters:
    environments:
      - name: dev
        workingDir: "$(System.DefaultWorkingDirectory)/tfcode/datalandingzone/terraform/"
        paramsDir: "$(System.DefaultWorkingDirectory)/tfcode/datalandingzone/params/"
        serviceConnectionName: 'SBX-Terraform'
        tfStateRGName: 'rg-sbx-hp-terraform'
        tfStateStorageAccountName: 'stsbxhptfstate'
        tfStateContainerName: 'tfstate'
        tfStateKeyName: 'dev-datalandingzone-terraform'
      - name: npd
        workingDir: "$(System.DefaultWorkingDirectory)/tfcode/datalandingzone/terraform/"
        paramsDir: "$(System.DefaultWorkingDirectory)/tfcode/datalandingzone/params/"
        serviceConnectionName: 'NPD-LH-Terraform'
        tfStateRGName: 'rg-cus-npd-dpo-terraform'
        tfStateStorageAccountName: 'stcusnpddpotfstate'
        tfStateContainerName: 'tfstate'
        tfStateKeyName: 'datalandingzone-terraform'
